body {
	font-family: $tritune-font;
	margin: 0px;
	padding: 0px;
	background: nth($tritune-palette,2);
	color: $tritune-fg-color;
}

i.fa {
	&:first-child {
		margin-right: 5px;
	}
	&:last-child {
		margin-right: 0px;
	}
}
