$tritune-bg-color: #333;
$tritune-fg-color: #eee;
$tritune-border-color: #000;

$tritune-font: "Baumans" Helvetica Arial sans-serif;

$tritune-header-height: 45px;
$tritune-header-element-height: 25px;

$tritune-header-bg-color: #ccc;
$tritune-header-fg-color: #3a3b3c;

$tritune-palette: (#01001F, #24244C, #353560, #453D6B, #5A427B, #9C0EA3, #FC91E5);