$tritune-bg-color: #333;
$tritune-fg-color: #ccc;
$tritune-border-color: #000;

$tritune-font: "Play" Helvetica Arial sans-serif;

$tritune-header-height: 40px;
$tritune-header-element-height: 25px;

$tritune-header-bg-color: #ccc;
$tritune-header-fg-color: #3a3b3c;
