// @import url(http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Baumans:400&subset=latin,cyrillic-ext,cyrillic);

@import "inc/vars.scss";
@import "inc/common.scss";


.layout {
	.header {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		height: $tritune-header-height;
		box-sizing: border-box;
		padding: 12px;
		h1, h2 {
			margin: 0px; padding: 0px;
			display: inline-block;
			font-weight: 400;
		}
		h1 {
			font-size: 24px;
		}
		h2 {
			font-size: 20px;
		}
	}
	.workspace {
		position: absolute;
		top: $tritune-header-height;
		left: 0px;
		right: 0px;
		bottom: 0px;
	}
}

.workspace {
	.widget {
		position: absolute;
		top: 10px;
		width: 32%;
		height: 400px;
		background: nth($tritune-palette,3);
		box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
		border-radius: 10px;
		display: inline-block;
		margin: 0px;
		padding: 10px;
		box-sizing: border-box;
		&.sampler {
			left: 1%;
		}
		&.pitch-control {
			left: 34%;
		}
		&.xy-control {
			left: 67%;
		}
		> * {
			display: block;
		}
		input[type=range], button {
			width: 100%;
		}
		label > span {
			float: right;
		}

		h3 {
			text-align: center;
			margin: -10px;
			margin-bottom: 20px;
			padding: 5px 0px;
			background: nth($tritune-palette,4);
			border: 5px solid nth($tritune-palette,5);
			border-width: 0px 2px 2px 0px;
			border-radius: 10px;
			box-sizing: border-box;
			font-weight: 400;
		}
		.toggle-active {
			position: absolute;
			top: 8px;
			left: 6px;
		}
	}
}